<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>

  <body>
    <template id="shop-template">
      <style>
        @import '/src/components/shop/style.css';
      </style>
      <section class="shop">
        <header class="header">
          <img src="/public/shop.png" width="28px" height="28px" />
          <p class="title"><b>THE SHOP</b></p>
          <div class="search-wrapper">
            <input
              type="text"
              id="search-input"
              class="search-input"
              placeholder="Search products..."
            />
            <span id="clear-search" class="clear-btn" hidden>&times;</span>
          </div>
          <sort-menu></sort-menu>
        </header>
        <span class="shop-empty" hidden>
          There are no products matching your query
        </span>
        <div id="shop-products" class="products-list"></div>
      </section>
      <script type="module" src="./components/sort-menu/sort-menu.js"></script>
    </template>
  </body>
</html>
