<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>

  <body>
    <template id="shop-template">
      <style>
        @import '/src/components/shop/style.css';
      </style>
      <section class="shop">
        <header class="header">
          <img src="/public/shop.png" width="28px" height="28px" />
          <p class="title"><b>THE SHOP</b></p>
        </header>
        <div id="shop-products" class="products-list"></div>
      </section>
    </template>
  </body>
</html>
