.shop {
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  width: 628px;
  max-height: 92vh;
  display: flex;
  flex-direction: column;
  padding: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
  display: flex;
  gap: 10px;
  border-bottom: 2px solid #a7a3a3;
  align-items: center;
  padding: 0 0 6px 16px;
  margin: 0 30px 0 5px;
  flex-shrink: 0;
}

.title {
  flex-grow: 1;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  flex-grow: 1;
  padding-top: 10px;
}

.search-input {
  margin-left: 20px;
  max-width: 400px;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  transition: border-color 0.2s, box-shadow 0.2s;
  outline: none;
  background-color: #f9f9f9;
}

.search-input::placeholder {
  color: #343434;
}

.search-input:focus::placeholder {
  color: #aaa;
}

.search-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
  background-color: #fff;
}

.search-input:hover {
  background-color: #fff;
  border-color: #bbb;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}


@media (max-width: 1040px) {
  .shop {
    max-width: 432px;
  }

  .products-list {
    margin-left: 8px;
  }
}

@media (max-width: 850px) {
  .shop {
    max-width: 628px;
  }

  .products-list {
    margin-left: 0;
  }
}

@media (max-width: 690px) {
  .shop {
    max-width: 432px;
  }

  .products-list {
    margin-left: 8px;
  }
}

@media (max-width: 500px) {
  .shop {
    max-width: 228px;
  }
}
