<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <template id="cart-template">
      <style>
        @import '/src/components/cart/style.css';
      </style>
      <div class="cart">
        <span class="header">
          <img src="/public/cart.png" width="28px" height="28px" />
          <p class="title"><b>THE CART</b></p>
          <button id="clear-button" hidden>Clear all</button>
          <span id="badge">0</span>
        </span>
        <hr />
        <div id="cart-products" hidden></div>
        <div id="cart-empty">Cart is empty</div>
        <div id="grand-total" hidden></div>
      </div>
    </template>
  </body>
</html>
