.app {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.shop {
    border: 2px solid black;
    border-radius: 5px;
    padding: 8px;
    display: inline;
    max-width: 612px;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
}

.cart {
    position: relative;
    border: 2px solid black;
    border-radius: 5px;
    padding: 8px;
    min-width: 340px;
    height: 100%;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.title {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

#cart-products {
    flex: 1;
    overflow-y: auto;
    max-height: 470px;
    padding-bottom: 50px;
}

#cart-empty {
    background: #ddd;
    font-size: 17px;
    padding: 10px;
    margin: 14px 0;
    text-align: center;
    font-weight: bold;
}

#grand-total {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ddd;
    padding: 12px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    border-top: 2px solid #999;
    z-index: 1;
}