.manufacturer-cart-section {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 8px;
    background: #fff;
}

.header {
    display: flex;
    gap: 5px;
}

.label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.section-total {
    text-align: right;
    font-weight: bold;
    margin-top: 8px;
}

#products {
    display: flex;
    flex-direction: column;
    gap: 6px;
}