<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <template id="shop-product-template">
        <style>
            @import './components/shop-product/style.css';
        </style>
        <div class="product">
            <div class="product-basics">
                <img id="image" alt="Image" width="50px">
                <div>
                    <b id="name"></b>
                    <br>
                    <i id="manufacturer"></i>
                </div>
            </div>
            <p id="description"></p>
            <div class="product-details">
                <span id="price" class="price"></span>
                <div class="product-actions">
                    <span id="quantity" class="action">12</span>
                    <span class="amount-buttons">
                        <button>+</button>
                        <button>-</button>
                    </span>
                    <input id="cartButton" type="image" src="public/add_to_card.png" class="action">
                </div>
            </div>
        </div>
    </template>

</body>

</html>