.product {
    border: 2px solid grey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 5px 0 5px;
    margin: 5px;
    width: 180px;
    height: 160px;
}

.product-basics {
    display: flex;
    height: 60px;
    gap: 10px;
}

#description {
    margin: 0;
}

.actions-grid {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

#price {
    border-top: 2px solid grey;
    border-right: 2px solid grey;
    margin-left: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quantity {
    border-top: 2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.amount-buttons {
    display: flex;
    flex-direction: column;
}

.btn {
    border: 2px solid grey;
    border-bottom: none;
    width: 100%;
    height: 50%;
    background: #eee;
    cursor: pointer;
}

.cart-add {
    border-top: 2px solid grey;
    margin-right: -5px;
    width: 35px;
    height: 35px;
}