<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>

  <body>
    <template id="cart-manufacturer-template">
      <style>
        @import '/src/components/cart-manufacturer/style.css';
      </style>

      <section class="manufacturer-cart-section">
        <header class="header">
          <input class="manufacturer-select" type="checkbox" />
          <b class="label">Manufacturer</b>
        </header>
        <div class="products" id="products"></div>
        <footer class="section-total">Total: <span id="total">0$</span></footer>
      </section>
    </template>
  </body>
</html>
