<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>

  <body>
    <template id="cart-manufacturer-template">
      <style>
        @import '/components/cart-manufacturer/style.css';
      </style>

      <div class="manufacturer-cart-section">
        <div class="header">
          <input class="manufacturer-select" type="checkbox" />
          <b class="label">Manufacturer</b>
        </div>
        <div class="products" id="products"></div>
        <div class="section-total">Total: <span id="total">0$</span></div>
      </div>
    </template>
  </body>
</html>
