<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
</head>

<body>
    <template id="cart-product-template">
        <style>
            @import './components/cart-product/style.css';
        </style>
        <div class="cart-product">
            <input type="radio" />
            <span class="product-name" id="name">Product Name</span>
            <span class="product-price" id="price">10$</span>
            <span id="quantity"></span>
            <button class="btn increase">+</button>
            <button class="btn decrease">-</button>
            <button class="btn remove">🗑</button>
        </div>
    </template>
</body>

</html>